packaging==24.2
pip @ file:///opt/homebrew/Cellar/python%403.13/3.13.1/Frameworks/Python.framework/Versions/3.13/lib/python3.13/ensurepip/_bundled/pip-24.3.1-py3-none-any.whl
pip==25.0.1
wheel @ file:///opt/homebrew/Cellar/python%403.13/3.13.1/libexec/wheel-0.45.1-py3-none-any.whl
